@import '../../../../themes/vars.less';
  .btn {
    margin: 0 3px;
  }
  .fbc {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .fsc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .fss {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .fcs {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .fce {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .affixHeader {
    padding: 24px;
    background: #fff;
    box-shadow: 1px 1px 3px #e6e9ed;
  }
  .headTitle {
    font-size: 18px;
    font-weight: bold;
  }

  .wrapper {
    padding: 12px;
    background: rgb(236, 236, 236);
  }
  .bgw {
    box-sizing: border-box;
    background: #fff;
    margin-bottom: 12px;
    border-bottom: 2px solid #fff;
    &:hover {
      border-bottom-color: @primary;
    }
  }
  .title {
    padding: 12px;
    border-left: 10px solid @primary;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 24px;
  }
  .content {
    padding:0 64px;
  }
  .circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .red{
    background-color:red;
  }
  .yellow{
    background-color: yellow;
  }
  .green{
    background-color: green;
  }
  .bl{
    border-bottom: 1px solid #cccccc;
  }
  .rl{
    // border-right: 1px solid #cccccc;
    padding: 5px;
  }
  .ll{
    border-left: 1px solid #cccccc;
    padding: 5px;
  }
  .mtb{
    margin:  10px 0;
  }
  .macTitle{
    color: #027DB4;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px; 
    margin-top: 15px;
    padding-bottom: 10px;
  }