.user-select-header {
  font-size: 16px;
  font-weight: bold;
  padding-left: 12px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-select-wrapper {
  box-shadow: 0 0 3px #eee;
}

.user-select-btn {
  margin-right: 12px;
}

.user-select-col {
  height: 300px;
  overflow: auto;
}

.user-select-row {
  background: #f3f8fc;
  padding: 5px;
  padding-bottom: 5px;
}

.user-select-textRight {
  text-align: right;
}

.user-select-spin {
  width: 100%;
  min-height: 150px;
}

.user-select-input {
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}
.user-select-inputDisabled {
  background: #fafafa;
  cursor: no-drop;
}
