.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.btnWrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btns {
  margin-right: 12px;
}

.col {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.colItem {
  width: 200px;
}