:global {
  .ant-modal-wrap {
    z-index: 1099 !important;
  }
}

.triangle{
    position: absolute;
    top: 8px;
    left: -4px;
    width: 21px;
    height: 21px;
    background-color: #fff;
    transform: rotate(45deg) translateX(50%);
    box-shadow: 0 2px 8px 0 #aaa;
}
.right{
    padding-left: 12px;
}
.around{
    display: flex;
    justify-content: space-between;
    background-color: #f0f2f5;
    height: 100%;
    width: 100%;
}
.mt{
    margin-top: 100px;
}

.btn {
    margin: 0 3px;
  }
.maxHeight{
    height: 100%;
}
